header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar{
	display: flex;
	border: 1px solid black;
	border-radius: 5px;
}
.nav-item{
	padding: 5px 3em;
	width: 80px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	cursor: pointer;
}
.nav-item:hover{
	background: lightblue;
	margin-top: -3px;
}
.nav-bar:last-child{
	border-right: none;
}
.hero{
	height: 550px;
	/*background-image: url('../assets/revoU-hero.jpeg');*/
	background-repeat: no-repeat;
	object-fit: contain;
}
.wrapper{
	display: flex;

}
.headquarters-image-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1em;
}
.headquarters-image{
	height: 5em;
	width: 5em;
	border-radius: 50%;
	border: 1px solid black;
}
.logo{
	height: 2em;
}
.hero{
	height: 550px;
}
.message-us .form-section {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.message-us .form-section form,
.message-us .form-section div {
     width: 100%;
}
.message-us .form-output{
	border: 1px solid black;
}
#kirim{
	padding: 0.5em;
	width: 50%;
	border: none;
	cursor: pointer;
}
footer{
	text-align: right;
}